*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

button{
    padding: .5rem;
    color: #fff;
}

button{
    padding: .5rem;
    color: #fff;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    box-sizing: border-box;
    height: 11rem;
    font-size: 1.8rem;
    width: 100%;
    text-align: left;
    display: flex;
    background-color: #EEE1E2;
    gap: 1.2rem;
    align-items: center;
    padding: 2.5rem;
    justify-content: space-between;
}

#topbar{
    padding-left: 1.9rem;
    background-color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    display: flex;
    gap: 1.2rem;
} 

<<<<<<< HEAD
section{
    padding-top: 7rem;
}

svg{    
    fill: #fff;
    color: #fff;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #EEE1E2;
    z-index: 1000;
    width: 100%;
}

#menu a:hover{
    color: #C79CA3;
}

#nav ul li{
    all: unset;
    display: flex;
    position: relative;
}

#nav ul li a:hover{
    color: #C79CA3;
}

#nav ul li ul{
    position: absolute;
    top: 3rem;
    background: #EEE1E2;
    display: none;
}

#nav ul li ul li{
    width: 100%;
}

#nav ul li ul li ul{
    left: 200px;
    top: 0;
}

#nav ul li:focus-within > ul,
#nav ul li:hover > ul{
    display: initial;
}

#btn-mobile{
    display: none;
}

=======
>>>>>>> 742063a77ca044271585883f01009f78f83af955
section{
    padding-top: 7rem;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 3rem;
<<<<<<< HEAD
    font-weight: bold;
=======
}

svg{    
    fill: #fff;
    color: #fff;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

a:hover{
    color: #C79CA3;
}

#menu a{
    display: block;
    padding: .5rem;
    list-style: none;
    color: #fff;
}

#btn-mobile{
    display: none;
}

section{
    padding-top: 7rem;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 3rem;
>>>>>>> 742063a77ca044271585883f01009f78f83af955
}

#whats{
    width: 5%;
    height: 5%;
    right: 0.62rem;
    bottom: 6rem;
    position: fixed;
    text-align: center;
    z-index: 1;
    margin-right: 0.62rem;
}

.berlocariaetc{
    text-decoration: none;
    font-size: 3.5rem;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
.row{
    display: block;
    box-sizing: border-box;
}
h5{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    transition-duration: 0.4s ease;
}

.barra{
    display: flex;
    background-color: #EEE1E2;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 26rem;
    justify-content: space-around;
}

.btn-siganos{
    border: solid 0.1rem;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    width: 10rem;
    height: 4rem;
    transition: all 0.2s;
}

.btn-siganos:hover{
    background-color: #fff;
    color: #EEE1E2;
}

.contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #fff;
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto)); 
}

.contato h3{
    color: #000;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.meio-contato li{
    display: block;
    color: #EEE1E2;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.meio-contato p{
    color: #EEE1E2;
    font-size: 1.5rem;
}

.meio-contato a{
    color: #EEE1E2;
    font-size: 1.5rem;
}

.meio-contato:hover a{
    color: #C79CA3;
    transition: 0.2s;
    opacity: 1;
}

.btn-footer{
    background-color: #EEE1E2;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.btn-footer:hover{
    background-color: #C79CA3;
    transition: 0.2s;
    opacity: 1;
}


footer{
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 1.3rem;
    padding: 1rem;
}

@media(min-width: 280px) and (max-width: 820px){

    .destaques{
        padding-top: 120px;
    }

    #whats{
        width: 5%;
        height: 5%;
        right: 5rem;
        bottom: 4rem;
        position: fixed;
        text-align: center;
        z-index: 1;
        margin-right: 0.62rem;
    }

<<<<<<< HEAD

    #menu{
        display: block;
        position: absolute;
        width: 100%;
=======
    #menu{
        display: block;
        position: absolute;
        width: 70%;
>>>>>>> 742063a77ca044271585883f01009f78f83af955
        top: 14rem;
        right: 0px;
        background-color: #EEE1E2;
        z-index: 1000;
        transition: .6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

<<<<<<< HEAD
    #nav ul li{
        display: block;
        position: relative;
        width: 100%;
    }
    
    #nav ul li ul {
        position: static;
        width: 100%;
    }

    #nav ul li ul li{
        position: relative;
        display: flex;
        width: 100%;
        background-color: #EEE1E2;
    }

    #nav ul li ul li ul{
        width: 100%;
    }

    #nav.active #menu{
        height: 100%;
=======
    #nav.active #menu{
        height: calc(100vh - 70px);
>>>>>>> 742063a77ca044271585883f01009f78f83af955
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
<<<<<<< HEAD
        padding: 1.5rem;
        margin: 0;
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        width: 90%;
    }

    #menu a:hover {
        color: #fff;
    }

    #menu ul ul{
        top: 0;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 99;
        display: none;
    }

    #menu.active + #overlay{
        display: block;
=======
        padding: 1rem;
        margin: 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, .5);
>>>>>>> 742063a77ca044271585883f01009f78f83af955
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        background: none;
        cursor: pointer;
        gap: 1rem;
    }

    #hamburger {
        color: #fff;
        width: 2rem;
        border-top: 2px solid;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .6s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;

    }

<<<<<<< HEAD
=======

>>>>>>> 742063a77ca044271585883f01009f78f83af955
}