<link rel="stylesheet" type="text/css" href="/frontend/css/menu.css">

<section>
    <section id="topbar">
        <a href="https://www.instagram.com/berlocariaetc/" target="_blank"><i class="fa-brands fa-instagram"
                style="color: #ffffff; font-size: 2.3rem"></i></a>
        <a href="https://www.facebook.com/berlocariaeetc/" target="_blank"><i class="fa-brands fa-facebook-f"
                style="color: #ffffff; font-size: 2rem; padding-top: 1px;"></i></a>
    </section>

    <section class="header">
        <a id="logo" href="/frontend/index.html"><img src="/frontend/img/logo.png" height="100px"></a>
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                aria-expanded="false"> Menu
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="/frontend/index.html">Home</a></li>
                <li><a href="#">Berloques <i class="fa-solid fa-angle-up fa-flip-vertical" style="color: #ffffff;"></i></a>
                    <ul>
                        <li><a href="/">Amor</a></li>
                        <li><a href="/">Disney</a></li>
                        <li><a href="/">Familia</a></li>
                        <li><a href="/">Gourmet</a></li>
                        <li><a href="/">Viagem</a></li>
                    </ul>
                </li>
                <li><a href="/frontend/pages/pulseiras.html">Pulseiras</a></li>
                <li id="opcao">Atendimento
                    <ul>
                        <li style="font-size: 1.5rem; display: flex; justify-content: center; align-items: center;"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i><a href="https://api.whatsapp.com/send/?phone=5519981182803&text&type=phone_number&app_absent=0">5519981182803</a></li>
                        <li style="font-size: 1.5rem; display: flex; justify-content: center; align-items: center;"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i><a href="https://api.whatsapp.com/send/?phone=5519981820119&text&type=phone_number&app_absent=0">5519981820119</a></li>
                    </ul>
                </li>
                <li id="opcao">Minha conta
                    <ul>
                        <li style="font-size: 1.5rem"><a href="/frontend/pages/cadastro.html">Criar uma conta</a></li>
                        <li style="font-size: 1.5rem;"><a href="/frontend/pages/login.html">Iniciar sessão</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
</section>
