<section>
    <section id="topbar">
        <a href="https://www.instagram.com/berlocariaetc/" target="_blank"><i class="fa-brands fa-instagram"
                style="color: #ffffff; font-size: 2.3rem"></i></a>
        <a href="https://www.facebook.com/berlocariaeetc/" target="_blank"><i class="fa-brands fa-facebook-f"
                style="color: #ffffff; font-size: 2rem; padding-top: 1px;"></i></a>
    </section>

    <section class="header">
        <a id="logo" href="/frontend/index.html"><img src="/frontend/img/logo.png" height="100px"></a>
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"
                aria-expanded="false"> Menu
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="/frontend/index.html">Home</a></li>
                <li><a href="#">Berloques <i class="fa-solid fa-arrow-down"></i></a>
                    <ul>
                        <li><a href="/">Amor</a></li>
                        <li><a href="/">Disney</a></li>
                        <li><a href="/">Familia</a></li>
                        <li><a href="/">Gourmet</a></li>
                        <li><a href="/">Viagem</a></li>
                    </ul>
                </li>
                <li><a href="/">Pulseiras</a></li>
                <li><a href="/">Travas</a></li>
                <li><a href="/">Atendimento</a></li>
                <li><a href="/">Minha conta</a></li>
            </ul>
        </nav>
    </section>
</section>

<script src="/frontend/js/header.js"></script>