<section>
    <div id="whats">
        <a href="https://api.whatsapp.com/send/?phone=5519981182803&text&type=phone_number&app_absent=0"
            target="_blank">
            <img src="/src/img/whatsapp.png" alt="whatsapp contato Berlocaria">
        </a>
    </div>

    <section class="contato">
        <section>
            <h3>Duvidas</h3>
            <li class="meio-contato"><a href="/src/pages/quem-somos.html">Quem somos</a></li>
            <li class="meio-contato"><a href="#">Qualidade e Garantia</a></li>
            <li class="meio-contato"><a href="#">Trocas e Devoluções</a></li>
        </section>

        <section>
            <h3>Fale Conosco</h3>
            <li class="meio-contato"><a
                    href="https://api.whatsapp.com/send?phone=5519981820119&text=Ol%C3%A1%2C%20estou%20vindo%20do%20site%20de%20voc%C3%AAs...">+55
                    (19) 98182-0119</a></li>
            <li class="meio-contato">
                <p>contato@berlocariaetc.com.br</p>
            </li>
            <li class="meio-contato">
                <p>Limeira, SP</p>
            </li>
        </section>

        <section>
            <h3>Endereço</h3>
            <li class="meio-contato">
                <p>Mal. Artur da Costa e Silva, 1380 – Loja 34 - Jardim Gloria, Limeira - SP, 13487-230 Villa
                    Real Shopping.</p>
            </li>
        </section>

        <section>
            <h3>Redes Sociais</h3>
            <a href="https://www.instagram.com/berlocariaetc/" target="_blank"><button class="btn-footer"><i class="fa-brands fa-instagram" style="color: #ffffff; font-size: 2rem;"></i></button></a>
            <a href="https://www.facebook.com/berlocariaeetc/" target="_blank"><button class="btn-footer"><i class="fa-brands fa-facebook-f"  style="color: #ffffff; font-size: 2rem; padding-top: 1px;"></i></button></a>
        </section>
    </section>
    
    <div class="rodape">
    <p>Copyright © 2023 Direitos Reservados | Developed by Larissa Carrara.</p>
    </div>
</section>

<script src="/src/header.js"></script>