
.contato{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #fff;
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto)); 
}

.contato h3{
    color: #000;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.meio-contato li{
    display: block;
    color: #ac7175;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.meio-contato p{
    color: #ac7175;
    font-size: 1.5rem;
}

.meio-contato a{
    color: #ac7175;
    font-size: 1.5rem;
}

.meio-contato:hover a{
    color: #C79CA3;
    transition: 0.2s;
    opacity: 1;
}

.btn-footer{
    background-color: #ac7175;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.btn-footer:hover{
    background-color: #C79CA3;
    transition: 0.2s;
    opacity: 1;
}


.rodape{
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 1.3rem;
    padding: 1rem;
}